@use "../global/variables" as *;

@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  animation: $animations;
}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin flame {
  @keyframes flame {
    0% {
      text-shadow: 0 0 15px #74d3ff, 25px -7px 25px #6cdbf7,
        0px 7px 25px #0f55ea;
    }
    100% {
      text-shadow: 0 0 15px #50c3f8, 25px -15px 25px #31caf1,
        0px 12px 25px #1241a8ee, 5px -15px 15px #39abd4;
    }
  }
}

@mixin chevron_arrow {
  width: 2.4vw;
  height: 0.4vw;
  transform: scale(0.3);
  animation: move_chevron 3s ease-out infinite;

  &:first-child {
    animation: move_chevron 3s ease-out 1.5s infinite;
  }

  &:nth-child(2) {
    animation: move_chevron 3s ease-out 0.75s infinite;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: $darkBlue;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: $darkBlue;
  }

  &:before {
    transform: skewY(32deg);
  }

  &:after {
    right: 0;
    transform: skewY(-32deg);
  }

  @keyframes move_chevron {
    33.3% {
      opacity: 1;
      transform: translateY(2vw);
    }
    100% {
      opacity: 0;
      transform: translateY(4vw) scale(0.5);
    }
  }
}

@mixin linearShine() {
  &:after {
    content: "";
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20%;
    background-image: linear-gradient(
      135deg,
      transparent,
      $fadeWhitish,
      transparent
    );
    visibility: hidden;
    transition: right 0.5s ease-out;
  }
  &:hover {
    &:after {
      right: 120%;
      visibility: visible;
    }
  }
}

@mixin underline() {
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 0.1vw;
    background: $lightRouge;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

@mixin title-svg-path() {
  stroke-width: 1.4;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $darkBlue;
  fill: transparent;
}

@mixin title-svg-path-animate($draw-duration: 20s, $fill-delay: 3.5s) {
  animation: draw-svg-title $draw-duration linear forwards,
    fill-svg-title 0.7s ease-in-out $fill-delay forwards;
}

@keyframes draw-svg-title {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-svg-title {
  to {
    fill: $darkBlue;
  }
}
