$whitish: #fdf2fc;
$fadeWhitish: #fdf2fcbb;
$paleBlue: #ccfbfe;
$lightBlue: #0098ff;
$blue: #5267df;
$darkBlue: #0e0e52;
$fadeDarkBlue: #0e0e52a5;
$lightRouge: #ff0066;
$rouge: #ad0045;

:export {
  whitish: $whitish;
  paleBlue: $paleBlue;
  lightBlue: $lightBlue;
  fadeDarkBlue: $fadeDarkBlue;
  lightRouge: $lightRouge;
  rouge: $rouge;
}
