@use "../global/variables" as *;

:root {
  --scroll-behavior: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: var(--scroll-behavior);
  background-color: $whitish;
}

.toastify_style {
  width: 25vw;
  font-size: 1.2vw;
}

::-webkit-scrollbar {
  display: none;
}
