@use "../global/variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $whitish;
}

::-webkit-scrollbar {
  display: none;
}

.Toastify__toast {
  width: 23vw;
  font-size: 1.2vw;
}
