@use "../styles/global/variables" as *;
@use "../styles/global/mixins" as *;

.resume_btn {
  position: absolute;
  top: 5.85vw;
  left: 50vw;
  transform: rotate(-7deg);
  transition: transform 0.5s ease-out;
  font-size: 1.6vw;
  color: $lightRouge;

  &:hover {
    padding: 0 3.5vw 2vw 0;
    transform: translateX(-1.9vw) translateY(-1.1vw) rotate(0);
  }
}

.contact_section {
  display: flex;
  justify-content: space-between;
  height: 37vw;
  padding-top: 9vw;
  clip-path: polygon(0 0, 50% 8vw, 100% 0, 100% 100%, 0 100%);
  background-color: $darkBlue;
}

.input_section {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  margin-left: 15vw;
  caret-color: $lightRouge;
}

.question {
  font-size: 1.3vw;
  color: $whitish;
}

.text_area {
  width: 22vw;
  height: 8.5vw;
  border: 0.1vw solid $lightBlue;
  border-radius: 0.5vw;
  padding: 0.8vw;
  margin-top: 0.8vw;
  resize: none;
  font-size: 1.25vw;
  font-family: calibri;
  background-color: $whitish;
  color: $darkBlue;

  &::placeholder {
    font-size: 1.25vw;
    color: $darkBlue;
  }

  &:focus {
    border-width: 0.15vw;
    outline: none;
  }
}

.icons_section {
  position: relative;
  margin-right: 32vw;
}

.icon {
  position: absolute;
  top: 12vw;
  width: 3.2vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 3px -3px 6px $lightRouge;
  }
}

.telegram {
  @extend .icon;
  animation: telegram_orbit 15s linear infinite;
}

.github {
  @extend .icon;
  animation: github_orbit 15s linear infinite;
  border-bottom-left-radius: 0 !important;
}

.linkedin {
  @extend .icon;
  animation: linkedin_orbit 15s linear infinite;
}

@keyframes telegram_orbit {
  from {
    transform: rotate(0deg) translateY(8vw) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(8vw) rotate(-360deg);
  }
}

@keyframes github_orbit {
  from {
    transform: rotate(120deg) translateY(8vw) rotate(-120deg);
  }
  to {
    transform: rotate(480deg) translateY(8vw) rotate(-480deg);
  }
}

@keyframes linkedin_orbit {
  from {
    transform: rotate(240deg) translateY(8vw) rotate(-240deg);
  }
  to {
    transform: rotate(600deg) translateY(8vw) rotate(-600deg);
  }
}
