@use "../global/variables" as *;
@use "../global/mixins" as *;

.contact_section {
  position: relative;
  height: 100vh;
}

.resume_btn {
  position: absolute;
  top: 16.25vw;
  left: 50vw;
  transform: rotate(-7deg);
  transition: transform 0.5s ease-out;
  font-size: 1.6vw;
  color: $lightRouge;

  &:hover {
    padding: 0 3.5vw 2vw 0;
    transform: translateX(-1.9vw) translateY(-1.1vw) rotate(0);
  }
}

.title {
  padding: 2vw calc(50vw - 10.5vw) 0;
}

.title_path {
  stroke-width: 1.4;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $darkBlue;
  fill: transparent;
}

.title_path.animate {
  animation: draw_contact_title 20s linear forwards,
    fill_contact_title 0.7s ease-in-out 3.5s forwards;
}

@keyframes draw_contact_title {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill_contact_title {
  to {
    fill: $darkBlue;
  }
}

.contact_box {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 8vw 0 1.5vw;
  justify-content: space-between;
  clip-path: polygon(0 0, 50% 8vw, 100% 0, 100% 100%, 0 100%);
  background-color: $darkBlue;
}

.input_section {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  margin-left: 12vw;
  caret-color: $lightRouge;
}

.question {
  font-size: 1.3vw;
  color: $whitish;
}

.text_area {
  width: 22vw;
  height: 8.5vw;
  border: 0.1vw solid $lightBlue;
  border-radius: 0.5vw;
  padding: 0.8vw;
  margin-top: 0.8vw;
  resize: none;
  font-size: 1.25vw;
  font-family: calibri;
  background-color: $whitish;
  color: $darkBlue;

  &::placeholder {
    font-size: 1.25vw;
    color: $darkBlue;
  }

  &:focus {
    border-width: 0.15vw;
    outline: none;
  }
}

.icons_section {
  position: relative;
  width: 3.2vw;
  margin-right: 32vw;
}

.icon {
  position: absolute;
  top: 12vw;
  left: 10vw;
  width: 3.2vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 3px -3px 6px $lightRouge;
  }
}

.telegram {
  @extend .icon;
  animation: telegram_orbit 15s linear infinite;
}

.github {
  @extend .icon;
  animation: github_orbit 15s linear infinite;
}

.linkedin {
  @extend .icon;
  animation: linkedin_orbit 15s linear infinite;
}

@keyframes telegram_orbit {
  from {
    transform: rotate(0deg) translateY(9vw) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(9vw) rotate(-360deg);
  }
}

@keyframes github_orbit {
  from {
    transform: rotate(120deg) translateY(9vw) rotate(-120deg);
  }
  to {
    transform: rotate(480deg) translateY(9vw) rotate(-480deg);
  }
}

@keyframes linkedin_orbit {
  from {
    transform: rotate(240deg) translateY(9vw) rotate(-240deg);
  }
  to {
    transform: rotate(600deg) translateY(9vw) rotate(-600deg);
  }
}
