@use "../global/variables" as *;
@use "../global/mixins" as *;

.rotating {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 110vw;
  height: 110vw;
  z-index: -5;

  &_inner {
    @extend .rotating;
    @include animation("rotate 30s infinite linear");
  }

  &_outer {
    @extend .rotating;
    @include animation("rotate 80s infinite linear");
  }
}

@include keyframes(rotate) {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.landing {
  height: 100vh;
  padding: 15vw 0 0 25vw;
}

.greeting_text {
  font-size: 1.3vw;
  letter-spacing: 0.1vw;
  color: $blue;
}

.name {
  display: inline-block;
  margin-top: 1rem;
  margin-left: -0.3vw;
  cursor: pointer;
}

.name_path {
  stroke-width: 1.4;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $darkBlue;
  fill: transparent;
  animation: draw_name 20s linear forwards,
    fill_name 0.7s ease-in-out 3.5s forwards;
}

@keyframes draw_name {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill_name {
  to {
    fill: $darkBlue;
  }
}

.profession {
  margin-left: -4.5vw;
  font-size: 5vw;
  font-weight: bold;
  color: $darkBlue;

  p {
    display: inline-block;
    font-family: calibri, roboto, arial, sans-serif;
  }
}

.fire {
  animation: flame 0.5s ease-in-out infinite alternate;
  @include flame();
}

.burn {
  animation: flame 0.8s ease-out infinite alternate;
  @include flame();
}

.dash {
  display: inline-block;
  width: 1.5vw;
  height: 0.5vw;
  border-radius: 0.2vw;
  margin: 0 0.5vw 1vw;
  background-color: $darkBlue;
}

.chevron_button {
  position: absolute;
  top: 47vw;
  left: calc(50vw - 1.1vw);
  height: 5vw;
  cursor: pointer;
}

.chevron_arrow {
  @include chevron_arrow();
}

.is_typing {
  position: absolute;
  top: 35vw;
  left: 60vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.35vw;
  color: $darkBlue;

  p {
    border-right: 0.15vw solid transparent;
    padding-right: 0.2vw;
  }
}

.resume_box {
  position: absolute;
  top: -10vw;
  left: 37vw;

  div {
    width: 12vw;
    height: 7vw;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0;
    box-shadow: 0.6vw -0.3vw 0.8vw $darkBlue;
    background-color: $blue;

    &::after {
      content: "";
      position: absolute;
      top: 6.4vw;
      right: 9.5vw;
      display: block;
      width: 1.7vw;
      height: 1vw;
      border-radius: 50%;
      box-shadow: 0.1vw -0.05vw 0.3vw $darkBlue;
      background-color: $blue;
    }

    &::before {
      content: "";
      position: absolute;
      top: 7.5vw;
      right: 10.5vw;
      display: block;
      width: 1.2vw;
      height: 0.7vw;
      border-radius: 50%;
      box-shadow: 0.1vw -0.05vw 0.3vw $darkBlue;
      background-color: $blue;
    }
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.5vw;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    font-size: 1.4vw;
    cursor: pointer;
    opacity: 0;
    color: $lightRouge;
    @include underline();

    &:hover {
      transform: translate(-50%, -50%) scale(1.07);
    }
  }

  @include animation("float 1.2s infinite ease-in-out alternate");
}

@include keyframes(float) {
  0% {
    top: -10.8vw;
  }
  100% {
    top: -10.1vw;
  }
}
