@use "../global/variables" as *;
@use "../global/mixins" as *;

.projects_section {
  height: 100vh;
}

.title {
  padding: 2vw calc(50vw - 10.5vw) 5vw;
}

.title_path {
  stroke-width: 1.4;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $darkBlue;
  fill: transparent;
}

.title_path.animate {
  animation: draw_title 20s linear forwards,
    fill_title 0.7s ease-in-out 3.5s forwards;
}

@keyframes draw_title {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill_title {
  to {
    fill: $darkBlue;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
}

.vertical_titles {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
  height: 30vw;
  width: 20vw;
  padding-left: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: s-resize;
}

.project {
  flex: none;
  height: 6vw;
  font-size: 1.5vw;
  padding-top: 1.5vw;
  opacity: 0.5;
}

.project_title {
  padding-left: 0.3vw;
  color: $darkBlue;
  transition-property: transform, font-size, opacity;
  transition-duration: 0.6s;
  @include linearShine();
}

.project_images {
  position: relative;
  width: 50vw;
  height: 30vw;
}

.primary_image {
  position: absolute;
  top: 0;
  left: 11vw;
  width: 44vw;
  height: 25vw;
  border-radius: 0.7vw;
}

.secondary_image {
  position: absolute;
  top: 16vw;
  left: -2vw;
  width: 22vw;
  height: 12.5vw;
  border-radius: 0.7vw;
  z-index: 5;
}

.layer_1 {
  position: absolute;
  top: 0;
  left: 11vw;
  width: 44vw;
  height: 25vw;
  border-radius: 0.7vw;
  transition: 0.5s;
}

.icon_container {
  position: absolute;
  bottom: 0;
  transition: 0.5s;
  @include underline();
}

.link_text {
  color: $lightRouge;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.layer_2 {
  position: absolute;
  top: 16vw;
  left: -2vw;
  width: 22vw;
  height: 12.5vw;
  border-radius: 0.7vw;
  transition: 0.5s;
  z-index: 5;
}
